<head>
    <title>littledata-test</title>
</head>

<body>
    {{> url}}
</body>

<template name="url">
    <input type="text" placeholder="Enter Website URL" />
    <button>Go</button>
    {{#each categories}}
        <p>Category: {{label}}<br>Score: {{score}}</p>
    {{/each}}
    <p>{{console}}</p>
</template>
